@import url(./variables.css);

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

header {
  height: 141px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0 80px;
  align-items: center;

  .company {
    display: flex;
    gap: 20px;
    .company_logo {
      width: 36px;
      height: 31px;
      fill: var(--secondary-color);
    }
    p {
      font-size: 22px;
      font-weight: 600px;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 20px;
      list-style: none;
      
      a {
        text-decoration: none;
        color: var(--basic-color);
        font-weight: 300;
      }
      a:hover{
        color: var(--secondary-color);
        transition-duration: 500ms;
      }
      span {
        color: var(--basic-color);
        font-weight: 300;
      }
    }
  }
}
